<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ztq.sdk">

    <!--角标权限声明（此声明只针对华为手机）-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE "/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DemoActivity"
            android:hardwareAccelerated="false"/>
        <activity android:name=".activity.BigPictureActivity"
            android:hardwareAccelerated="true"/>

        <activity android:name=".activity.LyricsActivity"/>
        <activity android:name=".activity.GridviewActivity"/>
        <activity android:name=".activity.ZoomImageActivity"/>
        <activity android:name=".activity.OverdrawActivity" />
        <activity android:name=".activity.NdkDemoActivity" />
        <activity android:name=".activity.AnimationActivity" />
        <activity android:name=".activity.PetalsRoundActivity" />
        <activity android:name=".activity.MapViewActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.XRecyclerViewActivity" />
        <activity android:name=".activity.TimelineActivity" />
        <activity android:name=".activity.NetAPIActivity" />
        <activity android:name=".activity.InterceptActivity" />
        <activity android:name=".activity.CancelEventActivity" />
        <activity android:name=".activity.PieImageActivity" />
        <activity android:name=".activity.FlowLayoutActivity" />
        <activity android:name=".acopy.test.AcopyTestActivity" />
        <activity android:name=".activity.ConstraintLayoutActivity" />
        <activity android:name=".activity.CropImageViewActivity" />
        <activity android:name=".activity.ContentObserverActivity" />
        <activity android:name=".activity.ArouterDemoActivity" />
        <activity android:name=".activity.CardViewActivity" />
        <activity android:name=".activity.BaseRecyclerViewAdapterHelperActivity" />
        <activity android:name=".mvp.view.LoginMVPActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.HorizontalWebViewActivity" />
        <activity android:name=".activity.GlideActivity" />
        <activity android:name=".activity.ProtoBufActivity" />
        <activity android:name=".activity.MessengerActivity" />
        <activity android:name=".activity.RetrofitActivity" />

        <service android:name=".service.MessengerService"
            android:process=":custom_service"/>

        <provider
            android:authorities="com.noahedu.sdk"
            android:name=".database.MyContentProvider" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="540"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="960"/>

        <meta-data
            android:name="com.ztq.sdk.glide_test.MyGlideModule"
            android:value="GlideModule"/>
    </application>
</manifest>